*{
	background: #1214AE;

}

.header{
	background: rgb(20 30 15);
}
h1{
	background: green;
}
.under{
	background: grey;
}
.pict{
	background: red;
	height: 50px;
	width: 120px;
	display: inline-block;
	vertical-align: middle;
}
.text{
	background: white;
	
	max-width: 380px;
	display: inline-block;
	margin-left: 25px;


}
h2{
	background: yellow;
}
.text > p{
	background: purple;
}
.m_width{
	background: /*#A9A9A9*/ url('./serv1.png');
	max-width: 890px;

}
.content{
	padding: 0 65px;
	background:  /*#BC8F8F*/ /*url('./serv1.png') 100% 100%no-repeat;*/
}